/**
 * PAGE
 */
html {
    font-family: $font-stack;
}


/**
 * Remove default margin.
 */
body {
    margin: 0;
    background: transparent;
}

svg {
    display: block;
}

h1, h2 {
  font-weight: 300;
}