/**
 * PAGE
 */
html {
    font-family: $font-stack;
}


/**
 * 1. Remove default margin.
 * 2. Give Safari's _overshoot_ a background
 */
body {
    margin: 0;         /* [1] */
    background: black; /* [2] */
}

svg {
    display: block;
}

h1, h2 {
  font-weight: 300;
}