nav {
    position: fixed;
    width: 100%;
    bottom: 5px;
    height: 55px;
}

.nav {
// TODO    @extend %layout;
    height: 100%;
}

.nav__item {
// TODO    @extend %layout__item;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
    padding-bottom: 4px;
}

.nav__item a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: #666;
}
.nav__item a:hover {
    color: $inuit-base-text-color;

    polyline {
	stroke: $inuit-base-text-color;
    }
}

.nav__item svg {
  /* TODO
    @include media-query(desk) {
	margin: 0 auto;
	display: block;
    }
 */
    display: none;
}

.nav__item a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: #666;
}
.nav__item a:hover,
.nav__item--active a {
    color: $inuit-base-text-color;

    polyline, line {
	stroke: $inuit-base-text-color;
    }
}
