#footer--spacer {
    height: 100vh;
    display: block;
    position: relative;
}

footer {
    background-color: $footer-bg-color;
}

/**
 * #CONTACT
 */
#contact {
    color: #FFF;
    text-align: right;

    background-color: $footer-bg-color;
    padding-right: 30px;
    height: 300px;    
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;

    span {
        clear: right;
        display: block;
    }
    a {
        color: #FFF;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

address {
    font-style: normal;
}
