/**
 * #WHAT
 */
#what {
    color: #333;
    background: #F2F2F2;
    h2 {
        margin-top: quarter($inuit-base-spacing-unit);
    }
}

.what__items {
    @extend %layout;
}


.what__item {
    margin: 0;
    @extend %layout__item;
}
