$name-width: 500px;

/**
 * 1. Ensure it takes the full height of the view
 */
header {
  margin-bottom: 5px; /* [1] */
}

#branding {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 300px;
    max-width: 500px;
    width: 100%;
    margin-top: -150px;
    margin-left: -250px;
}

#name {
    display: block;
    margin: 0 auto;
    width: $name-width;
    @media screen and (max-width: $name-width) {
        left: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}
