#what {
    height: 300%;
    padding-top: 0;
}

#what h1 {
    z-index: 30;
    float: left;
    position: sticky;
    top: 20px;
    left: 30px;
    color: #000000;
}

[id^='what__'] {
    height: 33.333333%;
}

#what__crew {
    background-image: url('../img/crew.jpg'); /* source: https://www.flickr.com/photos/davehamster/7461798308 */
}
#what__sound-and-light {
    background-image: url('../img/sound-and-light.jpg');
}
#what__facility {
    background-image: url('../img/facility.jpg'); /* source: https://www.flickr.com/photos/rhodes/10386853/ */
}