$name-width: 500px;

#top-logo {
    padding-top: 40px;
}

#name {
    display: block;
    margin: 0 auto;
    width: $name-width;
    @media screen and (max-width: $name-width) {
        left: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}
