#footer-spacer {
    margin-bottom: 300px;
}

/**
 * #CONTACT
 */
#contact {
    color: #FFF;
    text-align: right;

    background-color: #000000;
    padding-right: 30px;
    height: 300px;    
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index:-1;

    span {
        clear: right;
        display: block;
    }
    a {
        color: #FFF;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

address {
    font-style: normal;
}
