@import "config";
@import "mixins";

body {
  background: $bg-color;
}

@mixin spin($prefix) {
  0% {
    @include transform(rotate(0deg), $prefix); }
  90% {
    @include transform(rotate(0deg), $prefix); }
  100% {
    @include transform(rotate(360deg), $prefix); }
}

@-webkit-keyframes spin {
  @include spin(webkit);
}

@-khtml-keyframes spin {
  @include spin(khtml);
}

@-moz-keyframes spin {
  @include spin(moz);
}

@-ms-keyframes spin {
  @include spin(ms);
}

@-o-keyframes spin {
  @include spin(o);
}

@keyframes spin {
  @include spin(none);
}

$center-width: 500px;
$center-height: 400px;

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: $center-height;
  max-width: $center-width;
  width: 100%;
  margin-top: - $center-height / 2;
  margin-left: - $center-width / 2;
  @media screen and (max-width: $center-width) {
    left: 0;
    margin-left: 0;
    #name {
      width: 100%;
      height: auto;
    }
  }
}

.spin {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: $txt-color;
  font-family: $font-stack;
  text-align: center;
  font-weight: normal;
}

p.large {
  font-size: 2em;
}

.spin svg #smile {
  @include animation(spin 10s infinite ease-in-out);
  @include experimental(transform-origin, 100px 100px);
}

