section, header {
    height: 100%;
    background: #16161E;
}

section, article, header {
    padding-top: 1px; /* correction needed for some reason */
}

article {
    background-attachment: fixed;
    background-size: cover;
}


