section, header {
    height: 100%;
    background: #16161E;
}

section, article, header {
    padding-top: 1px; /* correction needed for some reason */
}

article {
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    margin-top: 100px;
    background: rgba(0,0,0,0.5);
    padding: 40px 10px 10px 300px;
    height: 50%;
}


