$bg-color: transparent;
$heading-color: #333;
$dark-color: #16161E;
$footer-bg-color: #000000;

$inuit-base-text-color: #ccc;

$inuit-base-background-color: $bg-color;

$banner-opacity: 0.5;
$banner-background-color: rgba(0,0,0,$banner-opacity);
